<md-card>
    <md-card-media>
        <img :src="imgPath" alt="People">
    </md-card-media>

    <md-card-header>
        <div class="md-title">{{ title }}</div>
        <div class="md-subhead">{{ subTitle }}</div>
    </md-card-header>

    <md-card-expand>
        <md-card-actions md-alignment="space-between">
            <div>
                <p v-for="tag in techTags">{{ tag }}</p>
            </div>

            <md-card-expand-trigger>
                <md-button>Learn more</md-button>
            </md-card-expand-trigger>
        </md-card-actions>

        <md-card-expand-content>
            <md-card-content>{{ content }}</md-card-content>
        </md-card-expand-content>
    </md-card-expand>
</md-card>