<md-card>
    <md-card-media>
        <img :src="imgPath">
    </md-card-media>

    <md-card-header>
        <div class="md-title">{{ title }}</div>
        <div class="md-subhead">{{ subTitle }}</div>
    </md-card-header>

    <md-chip class="md-primary" v-for="tag in tags" :key="tag.id" md-clickable>
        {{ tag }}
    </md-chip>

    <md-card-expand>
        <md-card-actions md-alignment="space-between">
            <md-card-expand-trigger>
                <md-button class="md-icon-button" md-expand-trigge>
                    <md-icon>keyboard_arrow_down</md-icon>
                </md-button>
            </md-card-expand-trigger>
        </md-card-actions>

        <md-card-expand-content>
            <md-card-content>
                <h3>Description</h3>
                {{ content }}
                <h3 v-if="0 !== links.length">Link</h3>
                <div v-for="link in links" :key="link.id">
                    ・<a :href="link.url" target=”_blank”>{{ link.description }}</a><br>
                </div>
            </md-card-content>
        </md-card-expand-content>
    </md-card-expand>
</md-card>