.profile-section{
    text-align: center;
}
.my-favorite-technologies-section{
    text-align: center;
}
.sns-account-section{
    text-align: center;
}

img.kamono-img {
    width: 200px;
    height: auto;
}