<md-content>
    <br>
    <div class="profile-section">
        <h1>Profile</h1>
        <p>
            <img class="kamono-img" src="/assets/icon.jpg"><br>
            石川県金沢市在住のバックエンドエンジニアのmafuyukです。<br>
            フルスクラッチでの開発を経験したことがあるため、上流工程から下流工程まで、フロントエンドからバックエンド、クラウドインフラまでを触れます。<br>
            保守運用もやっていますがどちらかというと新規開発のほうが得意で魅力を感じています。<br>
            言語はGolangが好きですが、何にでも挑戦したいと思っています。最近はブロックチェーン技術に興味が出て休日にSolidityの学習をしてます。<br>
            その他、触ったことのある技術に関しては<a href="/#/product">PRODUCT</a>や<a href="/#/work">WORK</a>を見てみてください。<br>
            平日夜と土日にフルリモートでの副業をやったりしていますのでご興味があれば<a href="/#/contact">CONTACT</a>から連絡いただけると幸いです。
        </p>
    </div>

    <br>
    <div class="my-favorite-technologies-section">
        <h1>My Favorite Technologies</h1>
        <div class="frontend">
            <h3>Frontend</h3>
            <md-chip class="md-primary" v-for="tag in frontendTags" :key="tag.id" md-clickable>
                {{ tag }}
            </md-chip>
        </div>

        <div class="backend">
            <h3>Backend</h3>
            <md-chip class="md-primary" v-for="tag in backendTags" :key="tag.id" md-clickable>
                {{ tag }}
            </md-chip>
        </div>

        <div class="infra">
            <h3>Infra</h3>
            <md-chip class="md-primary" v-for="tag in infraTags" :key="tag.id" md-clickable>
                {{ tag }}
            </md-chip>
        </div>

        <div class="other">
            <h3>Other</h3>
            <md-chip class="md-primary" v-for="tag in otherTags" :key="tag.id" md-clickable>
                {{ tag }}
            </md-chip>
        </div>
    </div>

    <br>
    <div class="sns-account-section">
        <h1>SNS Account</h1>
        <Logo v-for="logo in logos"
            :key="logo.id"
            :image-path="logo.imagePath"
            :link="logo.link"
            :account-name="logo.accountName"
        ></Logo>
        <br>
    </div>
</md-content>